- Using bun instead of npm
- Please read the `project.md` for more details
- Please read the `todo.md` for more details, after finishing a task, please update the `todo.md`

- Please read the windsurf/rules files for more details
- Using Expo React Native
- Using Supabase for database with good practices
- Using `services` folder for business logic and API
- Using `types` folder for typescript types
- When you create a new table and make sure using yyyymmddhhmmss_description.sql,and please add the RLS policies.
