- Using bun instead of npm
- Please read the `project.md` for more details
- Please read the `todo.md` for more details, after finishing a task, please update the `todo.md`

- Please read the windsurf/rules files for more details
- Using Expo React Native
- Using Prisma for database with good practices, always give a migration name
- Using SQLite for database in development and Supabase for production
- Using `services` folder for business logic and API
- Using `types` folder for typescript types
- Using React Native with good practices, always give a migration name of prisma
